html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; 
}

.Chemicals {
    background-image: url('/pictures/chemicals.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    margin: 0; 
    display: flex;
    flex-direction: column;
    padding-top: 180px;
    padding-left: 600px;
    overflow: hidden; 
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-group {
    margin-left: 50px;
    margin-top: 20px;
}

.input-group label {
    font-size: 25px;
    color: #590402;
    margin-left: 10px;
}

.input-group input {
    margin-top: 10px;
    height: 35px;
    font-size: 18px;
    color: #590402;
    padding-left: 10px;
    margin-bottom: 15px;
    border: transparent;
    background: #C8B5A0;
    border-radius: 20px;
    outline: none;
    border-bottom: solid 2px #590402;
}

.input-group input.error {
    border-bottom: solid 2px red;
}

.error-message {
    color: red;
    margin-left: 50px;
    font-size: 18px;
    margin-top: 10px;
}

.chemicals-buttons {
    margin-top: 40px;
    margin-left: 20px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    outline: none;
    border: none;
    font-size: 15px;
    background-color: #590402;
    color: #C8B5A0;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #875730;
}
